@font-face {
    font-family: VisbyRound;
    src: url(./fonts/VisbyRoundCF-Regular.woff);
}

@font-face {
    font-family: VisbyRoundBolder;
    src: url(./fonts/VisbyRoundCF-DemiBold.woff);
}

html {
    background-size: cover;
    background-attachment: fixed;
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    font-family: VisbyRound;
    color: #ffbfcc;
}

body {
    margin: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.flexbox {
    display: flex;
}

.welcome {
    flex: 2;
}

.updates {
    flex: 1;
}

.welcome,
.updates,
.contact {
    margin: 4px;
    padding: 10px;
    background-color: rgba(45, 25, 29, 0.7);
    border-color: #b47380;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: bisque;
}

a:hover {
    text-decoration: underline;
}

header,
footer {
    margin: 4px;
    padding: 5px;
    background-color: rgba(103, 21, 36, 0.8);
    border-color: #b47380;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

.headerlogo {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.headerlogo>* {
    display: flex;
    padding: 4px;
}

.logo {
    max-width: 70px;
    object-fit: contain;
}

h1,
h2 {
    background: linear-gradient(#ff8ea5, #fc083c);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: VisbyRoundBolder;
    font-weight: bold;
}

.hnav {
    background: #e4c2c9;
    border-radius: 10px;
    padding-left: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

#bottomright {
    display: flex;
}

#bottomleft{
    display: flex;
}

.corner {
    background-color: rgba(0, 0, 0, .8);
    max-width: fit-content;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: small;
}

@media (max-width:600px) {
    .container {
        margin: auto;
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    html {
        font-size: large;
        background-attachment: scroll;
        background-image: url("wallpapermobile.jpg");
    }

    .flexbox {
        flex-direction: column;
    }

    .logo {
        max-width: 50px;
    }

    #headinglogo {
        font-size: large;
    }

    .corner {
        max-width: 100%;
        border-radius: 5px;
        align-self: center;
    }
}

@media (max-width:327px) {
    #headinglogo {
        margin: 0;
    }
}

@media (min-width:1800px) {
    html{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-content: center;
        justify-content: center;
        font-size: 20px;
    }
    .container {
        max-width: 1200px;
    }
}
@media (min-height:2160px) {
    html{
        font-size: 40px;
    }

    .container {
        max-width: 1600px;
    }

    .corner {
        font-size: 40px;
    }
}

@media (min-height: 920px) {
    .bottom {
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .corner {
        font-size: 19px;
    }

}

#generate:hover {
    text-decoration: underline;
    cursor: pointer;
}

